<!doctype html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Find The Leak!</title>
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
  </head>
  <body>
    {{ plot_div|indent(4)|safe }}
    <form action="{{ url_for('next_burst') }}" method="post">
      <div class="btn-div">
        <button type="submit" class="next-button" value="next">
          NEXT
        </button>
      </div>
    </form>>
  </body>
</html>